/* ==========================================================================
   HEADINGS / ELEMENT
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
    line-height: 1;
    font-weight: bold;
}

h1 {
    font-size: var(--font-size-h1);
    margin: 0;
    color: var(--color-primary);
    font-weight: 300;
}
h1 strong {
    font-weight: 700;
}

h2 {
    font-size: var(--font-size-h2);
    font-family: var(--font-primary);
    color: var(--color-black);
    font-weight: 600;
}

h3 {
    font-size: var(--font-size-h3);
    line-height: 120%;
    color: var(--color-white);
    font-weight: 600;
}

h4 {
    font-size: var(--font-size-h3);
}

h5 {
    font-size: var(--font-size-h5);
}

h6 {
    font-size: var(--font-size-h6);
}

.button {
    font-size: var(--font-size-button);
    font-family: var(--font-primary);
    color: var(--color-primary);
    font-weight: 900;
}
.logo {
    font-size: var(--font-size-logo);
    font-family: var(--font-primary);
    color: var(--color-black);
    font-weight: 900;
    z-index: 5;
    display: flex;
    align-items: center;
    gap: 20px;
    svg {
        color: var(--color-primary);
    }
}

.nav-primary {
    font-size: var(--font-size-nav);
    font-family: var(--font-nav);
    font-weight: 700;
    text-transform: uppercase;
    a {
        color: var(--color-black);
    }
}
