/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Nunito', sans-serif;
    --font-secondary: 'PT Sans', sans-serif;
    --font-nav: 'Open Sans', sans-serif;
    --font-size-content: #{typo(16px, 18px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(45px, 100px)};
    --font-size-h2: #{typo(35px, 50px)};
    --font-size-h3: #{typo(24px, 35px)};
    --font-size-logo: #{typo(40px)};
    --font-size-nav: #{typo(18px)};
    --font-size-button: #{typo(16px)};
}
